@model ProductViewModel

<div class="container">
    <div class="row text-center justify-content-center">
        <div class="col-6 border">
            @Model.Description
        </div>
    </div>
</div>