@{
	ViewData["Title"] = "Home Page";
}

@model List<ProductViewModel>

<div class="container">
	<div class="row text-center justify-content-center">
		@{
			foreach (var product in Model)
			{
				<a class="text-decoration-none text-dark" asp-action="Details" asp-route-id="@product.Id">
					<div class="productCards shadow rounded p-1 m-3"
				 	style="width: 236px; max-height: 300px; cursor: pointer;">
						<img src=@product.ImageURL style="height: 100px" />
						<p class="indexCards">@product.Name</p>
						<p class="indexCards">@product.Description</p>
						<p class="indexCards">@product.Price.ToString("c")</p>
					</div>
				</a>
			}
		}
	</div>
</div>